
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="glitch" data-text="User profile">User profile</h1>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {% if page_user.profile_pic %}
            <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
        {% else %}
            <img src="{% static 'theblog/images/User-avatar.svg.png' %}" class="card-img">

        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            {{ page_user.user.first_name }}
            {{ page_user.user.last_name }}
        </h5>

        <p class="small text-muted">

            {% if page_user.website_url %}
                <a href="{{ page_user.website_url }}">Website</a>
            {% endif %}
            {% if page_user.facebook_url %}
                | <a href="{{ page_user.facebook_url }}">Facebook</a>
            {% endif %}
            {% if page_user.twitter_url %}
                | <a href="{{ page_user.twitter_url }}">Twitter</a>
            {% endif %}
            {% if page_user.instagram_url %}
                | <a href="{{ page_user.instagram_url }}">Instagram</a>
            {% endif %}
            {% if page_user.pinterest_url %}
                | <a href="{{ page_user.pinterest_url }}">Pinterest</a>
            {% endif %}
        </p>
        {% if page_user.bio %}
            <p class="card-text">{{ page_user.bio }}</p>
        {% else %}
            <p class="card-text">{{ page_user.first_name }}`s bio is secret.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<h1 class="glitch" data-text="{{ page_user.user.first_name }}`s posts">{{ page_user.user.first_name }}`s posts</h1>


<div class="row row-cols-2 row-cols-md-4 g-4">
  {% for post in posts %}
      <div class="col">
        <div class="card">
          <img src="{% static 'theblog/images/outrun-vaporwave-hd-wallpaper-thumb.jpg' %}" class="card-img-top" alt="..."
                style="overflow: hidden;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h5>
            <p class="card-text">{{ post.snippet }}</p>
              <hr/>
                {{ post.author.first_name }} {{ post.author.last_name }} -
                <a href="{% url 'category' post.category.slug %}">[{{ post.category }}]</a>
                - {{ post.post_date }}
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <hr/>
                <small><a href="{% url 'update_post' post.pk %}">[Edit]</a></small>
                <small><a href="{% url 'delete_post' post.pk %}">[Delete]</a></small>
                {% endif %}
              {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}
